.calculator {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 400px;
    background-color: rgb(70, 70, 70);
    border-radius: 10px;
    
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons {
    display: flex;
    gap: 5px;
    flex: 3;
    margin: 15px;
}

.monitor {
    flex: 1;
    background-color: rgb(207, 207, 207);
    margin: 15px;
    border-radius: 5px;
}


.row {
    flex: 1;
    gap: 5px;
    display: flex;
    flex-direction: column;
}
.btn {
    flex: 1;
    background-color: rgb(255, 252, 63);
    font-size: 23px;
    border-radius: 10%;
    
}